<template>
     <div class="home">
          <span>
               {{greeting}}
          </span>
     </div>
</template>

<script lang="ts">
     import { defineComponent } from 'vue';

     export default defineComponent({
          name: 'HelloWorld',
          data () {
               return {
                    greeting: ''
               }
          },
          //add fetch axios or async await
     });
</script>