<template>
     <div class="home">
          Home
     </div>
</template>

<script lang="ts">
     import { defineComponent } from 'vue';

     export default defineComponent({
          name: 'HelloWorld'
     });
</script>